.search {
  &__arrow {
    max-width: 2rem;
    margin: 1rem auto;
  }
  &__box-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__input {
    border: none;
    background: none;
    outline: none;
    padding: 0 1rem;
    color: #fff;
    font-size: 1rem;
    transition: all 0.2s;
    width: 300px;
    line-height: 40px;
    float: left;
  }
  &__button {
    float: right;
    width: 40px;
    height: 40px;
    border: 0.1rem solid $secondary;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    cursor: pointer;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: $secondary;
    }
    &:hover {
      background: $secondary;

      svg {
        fill: $search-box-bg;
      }
    }
  }
  &__box {
    height: 60px;
    border-radius: 40px;
    padding: 10px;
    background: $search-box-bg;
    box-shadow: 0 0 15px #000;
  }
}

.sr-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.search__result {
  display: flex;
  flex-direction: column;

  &-title {
    min-height: 100px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &-image {
    width: 100%;
    min-height: 230px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
  }
}
